.infoBox{
  background-color:#edf5e1;
  width:32%;
  border:1px solid black;
  text-align:center;
}

.infoBox_today{
  color:rgb(12, 11, 90);
}

.infoBox_total{
  color:#611d15;
}

@media only screen and (max-width: 600px) {
  
}